.icon-class{
  text-align: center;
   font-size: 300%; 
   margin-top: 1%;
  justify-content: center;
   margin-right: 1%; 
}
.main {
  margin-top: 10vh;
}
.per-row{
  margin-top: 2%;
  border-radius: none;
  margin-bottom: 2%;
  display: flex;
}
.change-header{
  font-size: 200%;
}

.per-row > input{
  padding:20px;
  width: 100%;
   border-color:#757de8;  
}
.col-forg{
  display: flex;
  justify-content: center;
}