.col-one{
    text-align: center;
  }
  .golimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .header{
    font-family: 'Times New Roman', serif;
  }
  .parad{
     font-style:Alegreya Sans;
  }
 