.footer-social-icon{
    margin-left: 10px;
}
.footer-contact-icon{
    color:white;
    margin-right: 10px;
}
#footer{
    background-color: #303036;
    margin-bottom: 0%;
}
.footer-links{
    color: white;
}
.footer-address{
    color: white;
}

