.buy-meth{
    margin-left: 2%;
}
.buy-meth1-inst{
    font-size: large;
    margin-top: 10px;
}
.sell_note{
    margin-left: 20px;
}
.sell_title{
    margin-left: 20px;
    margin-top: 10px;
}
.shop_title{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.shop-req{
    margin-left: 20px;
}